/* Add CSS Styling */
.button{
    background-color: black;
    color: white;
}
.button2{
background-color: yellow;
}
.button,
.button2{
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", sans-serif;
}