body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 5px
}

.title {
  background: #e3f4ff;
  padding: 5px;
  margin-bottom: 5px;
  font-size: 18px;
}

.content {
  background: #e3f4ff;
  padding: 5px;
  font-size: 18px;
  margin-bottom: 5px;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  padding-bottom: 5px;
  font-size: 18px;
}

button {
  background: white;
  border: 1px solid #eee;
  margin-left: 150px;
  display: block;
  font-size: 18px;
  padding: 7px;
}